{{>header}}
    <br>
    <h1 class="text-center">Bienvenidos a nuestra página</h1>
    <br>
    {{{inscribirse ced nom correo telefono idcurso}}}
    <br>
    <div class="accordion accordion-flush" id="accordionExample">
        {{{listOfer}}}
    </div>
    <br>
{{>footer}}
  